<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rectangle List</title>
    <link rel="stylesheet" href="../static/Style/List.css" th:href="@{/Style/List.css}">
</head>
<body>
    <div class="ListBox">
        <h3>Created Rectangles</h3>
        <table>
            <tr>
                <th>Name</th>
                <th class="ColourHeader">Colour</th>
                <th></th>
            </tr>
            <tr th:each="rectangle:${rectangles}">
                <td>
                    <button class="NameButton" th:text="${rectangle.name}"></button>
                </td>
                <td class="ColourContainer">
                    <div th:style="'width: 20px; height: 20px; background-color: ' + ${rectangle.colour}"></div>
                    <p th:text="${rectangle.colour}"></p>
                </td>
                <td><button class="DeleteButton">X</button></td>
            </tr>
        </table>
    </div>
</body>
</html>